body {
    background-color: cornsilk;
}

div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 1000px;
}

div h2 {
    color: rgb(219, 171, 109);
    text-align: center;
}

h1 {
    color: rgb(222, 180, 125);
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

ol {
    display: inline-block;
    text-align: left;
}

li {
    scale: 1;
    transition: scale 1s;
}

li:hover{
    scale: 1.5;
}

footer {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
}

.introduction {
    text-align: center;
}

.introduction:hover {
    animation: h2_color_change 4s infinite;
}

@keyframes h2_color_change {
    0% {
        color: rgb(219, 171, 109);
    }
    50% {
        color: rgb(231, 199, 158);
    }
    100% {
        color: rgb(219, 171, 109);
    }
}

